# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /sites/premio/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /sites/premio/index.php [L]
</IfModule>

# END WordPress

#HSTS
<IfModule mod_headers.c>
Header set Strict-Transport-Security "max-age=10886400; includeSubDomains; preload" env=HTTPS
</IfModule>
