/* <FONTS> */
h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.f-preta{color:#404040!important}
.f-branca{color:#ffffff!important}
.f-azul{color:#2E4B9B!important}
.f-cinza{color: #767676;}
body{font-family: 'Droid Sans', sans-serif;}
/* </FONTS> */


/*<HEADER>*/
.menu-top{
    padding-bottom: 0;
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(230,230,230,1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(230,230,230,1);
    box-shadow: 0px 1px 5px 0px rgba(230,230,230,1);
    position: fixed;
    width: 100%;
    margin:0;
    height: 100px;
    z-index: 9999;
}
.b-r-img{
    border-right: 1px solid #333333;
}
.menu-top a{
    padding: .3rem;
    color: #333;
    font-weight: 700;
}

.center{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.fix-height{
    height: 101px;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #333; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 45px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    z-index: 9999;

}
/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    transition: 0.3s;
    padding:20px 0;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    text-decoration: underline;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}

.sidenav ul{
    list-style: none;
    margin: 0;
    padding: 0 0 0 15px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
}

.main-navigation li {
    border-width: 3px 0;
    border-style: solid;
    border-color: transparent;
    padding: 0 3px;
}

.main-navigation li:hover{border-bottom: 3px solid #53a4a8;}
.main-navigation li:hover a{text-decoration: none}
/*</HEADER>*/

/*<BODY>*/

.img-banner{
    background-image: url(../images/home/premio-compliance-2017.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%
}

.img-bg{
    background-image: url(../images/home/o-premio.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 650px;
}

.img-bg-2{
    background-image: url(../images/home/curadoria.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 450px;
}
.content-banner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content-banner img{
    background-color: #ffffff;
    padding: 15px;
    width: 550px;
    height: auto
}

.bg-azul-claro{
    background-color:#BBDEFA;
    text-align: center;
}

.bg-azul-claro img{
    margin-bottom: 20px
}

.h-list ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.h-list li{
    display: inline-block!important;
}
.content-block{
    background: #ffffff;
    padding: 30px;
    position: relative;
}

.vid{
    text-align: center;
    background: transparent
}
.bg-marinho{
    background-color: #212F52;
    color: #fff;
}
.bg-marinho a, .bg-gray a{
    color:#ffffff;
    text-decoration: underline;
}
.bg-gray{
    background: #f2f2f2;
}
.bg-cinza{background:#CFD8DD}

.categorias ul{
    list-style: none;
    margin:0;
    padding: 30px 0 0 0;
}
.categorias li{
    width: 270px;
    display: inline-table;
    text-align: center;
    margin-bottom: 20px;
}

.categorias li h3{
    font-weight: 300
}

.categorias ul li img{
    border-radius: 50%;
    width: 150px;
    height: 135px;
}
.w-block{
    background: #ffffff;
    padding: 30px;
    color: #223053
}

ul, ol {
    margin-left: 0;
}

.quadrinho{
    background: #fff;
    padding: 20px;
    color: #333;
    margin: 0 10px;
    text-align: center;
    border: 2px solid #8C2F85;
}
.quadrinho h2{
    color: #8C2F85;
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 2px solid #8C2F85;
    text-align: left;
}
.v-center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.gallery{
    display: inline-block;
    margin-top: 20px;
}

.data-evento{
    color:#2E4B9B;
    font-size: 40px;
    font-weight: bold
}

.flexslider .slides img{
    height: 200px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.flexslider .slides img:hover{
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.flexslider{
    background: transparent;
    border: none;
    margin: 0
}

.flex-direction-nav a:before{
    font-size: 32px;
    color: rgba(255,255,255,.9);
}

.edicao1{
    background: #CFD8DD;
    float: left;
    padding: 10px;
    height: 165px;
    padding-top: 70px;
    color: #363636;
}

.edicao2{
    background: #BBDEFA;
    float: left;
    padding: 10px;
    height: 165px;
    padding-top: 70px;
    color: #363636;
}

.edicao3{
    background: #81F499;
    float: left;
    padding: 10px;
    height: 165px;
    padding-top: 70px;
    color: #363636;
}
.edicoes img{
    min-height: 165px;
    width: auto
}

.bg-preto{background: #000000}

.slick-prev:before, .slick-next:before{color:#dcdcdc!important}

.slick-item{
    text-align: center;
    background: #fff;
    min-height: 200px!important;
    display: inline-table!important;
    border-right: 1px solid #C4C4C4;
}
.slick-item:nth-child(3n){
    border-right: 0;
}

.capt h2{text-align: center;font-weight: bold; text-transform: uppercase;}

.slick-item img{margin: auto}

.slick-item figcaption{
    width: 200px;
    margin: 0 auto
}

figure{margin: 0}

.btn-d{
    padding: 10px 20px;
    display: inline-block;
    border: 2px solid transparent;
    text-align: center;
}

.btn-rosa {
    background-color: #BE0155;
    color: #ffffff;
    text-decoration: none!important;
    min-width: 180px;
}
.btn-rosa:hover{
    border: 2px solid #BE0155;
    background-color: #ffffff;
    color: #BE0155!important;
}
.btn-gray {
    background-color: #C4C4C4;
    color: #ffffff;
    text-decoration: none!important;
    min-width: 180px;
    border-radius: 40px;
    border: 2px solid #fff;
}
.btn-gray:hover{
    border: 2px solid #C4C4C4;
    background-color: #ffffff;
    color: #C4C4C4!important;
}

.revista{
    font-size: 20px;
    margin-right: 20px
}
/*</BODY>*/


/* FOOTER */
.bg-footer{
    background-image: url('../images/footer/bg-footer.png');
    height: 232px;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.bg-footer:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 1;
}
.bg-footer .container{
    z-index: 10;
}
/* /FOOTER */

.box-logo{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    padding: 40px;
    width: auto;
    margin: auto;
}

/* GALLERY */
.photos{
    height: 200px;
}
.photos img{
    position: absolute;
    width: 350px;
    height: 200px;
    padding-top: 5px;
    left: 0;
    right: 0;
    margin: auto;
}
.col-gallery{
    background: #fff;
    margin-right: 15px;
    flex: 1;
}
.col-gallery:nth-last-child{margin-right: 0;}
.col-gallery h3{
    text-align: center;
    color: #0079BA;
}
.col-gallery i{
    padding: 15px 0;
    text-align: center;
    border: 1px solid;
    font-size: 30px;
    width: 100%;
}
/* / */

/* COUNTDOWN */
#countdown{
    color: #fff;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    width: 300px;
    text-align: center;
    margin: auto;
}
#countdown .period{
    font-size: 12px;
    text-transform: uppercase
}
#countdown  .n-count{position:relative;}
#countdown  .n-count:after{
    content:':';
    font-size 22px!important;
    position: absolute;
    width:10px;
    height:7px;
    right: -22px;
    top: -3px;
}
/* / */

/* HOME */
.banner-home{
    background: rgb(111,52,85);
    background-image: radial-gradient(circle, #4c293d, #3b202d, #2a181f, #190f13, #000000);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    padding: 50px 0;
}
.img-left{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 800px;
}
.img-right{
    position: absolute;
    bottom: -250px;
    right: 0;
    z-index: 1;
    height: 800px;
}
.box-opac{
    background: rgba(255,255,255,.9);
    padding: 40px 20px;
    border-radius: 30px;
    height: 700px;
}
ul.list-socials{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    text-align: center;
}
ul.list-socials li{
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 100%;
    color: #fff;
    font-size: 30px;
    line-height: 1.7;
    cursor: pointer;
    transition: .3s;
    text-align: center;
}
ul.list-socials li:hover{
    background: rgba(0,0,0,.5);
}
.bg-gray h3, .bg-gray h4{margin: 0;}
.bg-gray h3{padding-bottom: 5px;}
.bg-map{
    background-image: url('../images/home/map.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}
.bg-patrocinios{
    background-image: url('../images/home/bg-home.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 100px 0;
    color: #fff;
    position: relative;
    background-attachment: fixed;
}
.bg-patrocinios:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    mix-blend-mode: darken;
}
.bg-patrocinios .container{z-index: 10;}
.box-w-round{
    background: #fff;
    border-radius: 45px;
    padding: 50px;
    text-align: center;
    position: relative;
    color: #333;
}
.box-w-round img{
    padding: 50px 0;
}
.box-w-round p{
    padding: 18px 0;
    color: #767676;
    border-top: 1px solid #000000;
}
/* / */

/* TIMELINE */
.timeline{
    border-left: 2px solid #8C2F85;
}
.timeline-event{
    font-weight: 600;
    font-size: 20px;
    padding-left: 45px;
    position: relative;
    z-index: 1;
    padding-bottom: 45px;
}
.timeline-event:last-child{
    padding-bottom: 0;
    height: 19px;
}
.timeline-event:before{
    content: '';
    position: absolute;
    background: #fff;
    z-index: 10;
    width: 19px;
    height: 19px;
    border: 2px solid #8C2F85;
    border-radius: 100%;
    left: -10px;
}
.timeline-event p{
    font-weight: 300;
    font-size: 16px;
}
.timeline-event strong p{font-weight: bold;}
.f-purple{color: #8C2F85}
.box-talk{
    background: #FFFFFF;
    border: 2px solid #8C2F85;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 40px;
    position: relative;
    height: 100%;
}
.box-talk p{
    color: #9C9C9C;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 0;
    padding-top: 30px;    
}
/* / */

/* O premio */
.box-opac-round{
    background: rgba(255, 255, 255, 0.9);
    border-radius: 59px;
    text-align: justify;
    color: #000000;
    padding: 40px;
    z-index: 10;
    position: relative;
}
.img-left-2{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 500px;
}
.img-right-2{
    position: absolute;
    top: 0;
    right: 0;
    height: 600px;
}
.btn-vinho{
    display: inline-block;
    background: rgb(170,0,102);
    border-radius: 40px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 8px 20px;
    font-weight: bold;
    transition: .3s;
}
.btn-vinho:hover{
    background: rgba(170,0,102,.5);
}
a.btn-vinho{color: #fff;}
.btn-vinho:hover a, a.btn-vinho:hover{text-decoration: none;}
/* / */

/* EDIÇÕES */
.bg-vencedores{
    background-image: url('../images/bg-vencedores.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: calc(100vh - 100px);
    background-attachment: fixed;
}
.box-sliders-round{
    background: #FFFFFF;
    border: 1px solid #C1C1C1;
    box-sizing: border-box;
    border-radius: 51px;
    padding: 40px;
}
.h-bordered{padding: 8px; margin: 0; border: 1px solid #fff; display: inline-block;}
.bg-depoimentos{
    background-image: url('../images/bg-depoimentos.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: calc(60vh);
    background-position: right;
    background-attachment: fixed;
}
/* / */

/* CONTATO */
.bg-contato{
    background-image: url('../images/bg-contato.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: calc(100vh - 100px);
    background-color: #f2f2f2;
    background-attachment: fixed;
}
/* / */

/* UTILS */
.p-relative{position: relative;}
.container{z-index: 50;}
.w-80{width: 80%;}
.m-auto{margin: auto;}
.img-circle{border-radius: 100%;}
.m-r-25{margin-right: 25px;}
.m-l-25{margin-left: 25px;}
.d-flex{display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.align-c{align-items: center;}
.space-b{justify-content: space-between;}
.p-l-15{padding-left: 15px;}
/* / */

/*************************MEDIA QUERY*************************/

@media (min-width: 992px) {
    .modal-xs {
        max-width: 1290px;
    }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Médio - landscape smartphones e tablets pequenos */
@media screen and (min-width: 28.75em) {}

/* Grande - tablets médios e maiores*/
@media screen and (min-width: 40.5em) {
    .p-b-15{padding-bottom: 15px}
    .p-t-30{padding-top: 30px}
    .p-b-30{padding-bottom: 30px}
    .p-t-50{padding-top: 50px}
    .p-b-50{padding-bottom: 50px}
    .p-t-70{padding-top: 70px}
    .p-b-70{padding-bottom: 70px}
    .p-t-100{padding-top: 100px;}
    .p-b-100{padding-bottom: 100px;}
    .m-l-20{margin-left: 23px!important}
    .m-l-50{margin-left: 50px!important}

    .depoimentos-item{
        text-align: center;
        background: #ffffff;
        color: #333;
        padding: 20px;
        min-height: 461px!important;
        background: #ffffff;
        display: inline-table!important;
        margin: 0 5px;
    }

}

/* SLICK LOAD */
.slider:not(.slick-initialized), .caption:not(.slick-initialized) .capt,
.slider:not(.slick-initialized), .caption:not(.slick-initialized) .slick-item{
    display: none;
}
.slider:not(.slick-initialized), .caption:not(.slick-initialized){
    background-color: #FFF;
    transition: .3s;
    background-image: url('../css/ajax-loader.gif');
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
}
/* / */

/* CONTATO */
.form-contato{
    width: 400px;
    margin: auto;
    background: #E5E5E5;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 80px 40px;
}
.form-contato label{
    color: #767676;
    font-weight: 600;
}
.form-contato input{
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}
.form-contato input[type="submit"]{
    background: #AA0066;
    color:#fff;
    font-weight: 600;
    font-size: 18px;
    transition: .3s;
}
.form-contato input[type="submit"]:hover{
    background: #7C004B
}
/* / */

/* Retina Display */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {}
/* Retina Display iPad */
@media screen and (min-width: 40.5em) and (-webkit-min-device-pixel-ratio: 2) {}

/* Extra small devices (portrait phones, less than 576px */

@media (max-width: 575px) {
    .depoimentos-item{
        background: #ffffff;
        color: #333;
        padding: 20px;
    }
    .p-t-c{padding-top: 25px}
    .p-b-c{padding-bottom: 25px}
    .p-b-c-50{padding-bottom: 50px}
    .m-t-c{margin-top: 15px}
    .m-b-c{margin-bottom: 15px}
    .menu-sm{
        position: relative;
        top: 30%;
    }
    .menu-sm i{
        font-size: 25px;
        color: #333;
    }
    .menu-top{
        padding-top: 15px;
    }
    .content-banner img{
        width: 100%;
        height: auto;
    }
    .content-banner{
       min-width: 280px
    }
    .crono-mob{
        font-size: 20px;
        font-weight: 700;
        color: #2E4B9B;
        margin-top: 10px;
        text-align: center
    }
    .img-bg{
        height: auto
    }

    .content-block{transform: none}
    .categorias li{width: auto}
    .categorias ul{text-align: center}
    .no-p{
        padding-left: 0;
        padding-right: 0;
    }
    .slick-slide img {
        display: block;
        height: 165px;
        width: auto;
    }
    .box-opac{height: auto;}
    .img-right-2{height: auto;}
    .bg-vencedores{background-size: cover;}
    .bg-vencedores h1{color: #fff;}
    .col-gallery{margin-bottom: 20px}
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767px) {  }

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991px) {  }

/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199px) {
   .box-logo{
        width: 700px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .box-logo{
        width: 700px;
    }
    .modal-dialog {
        min-height: -webkit-calc(100vh - 60px);
        min-height: -moz-calc(100vh - 60px);
        min-height: calc(100vh - 60px);
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        overflow: auto; 
    }
}

@media (max-width: 768px) {
    .modal-dialog {
      min-height: -webkit-calc(100vh - 20px);
      min-height: -moz-calc(100vh - 20px);
      min-height: calc(100vh - 20px);
    }
}